@import url("https://fonts.googleapis.com/css2?family=Croissant+One&family=Dela+Gothic+One&family=Lora:wght@400;500;600;700&family=Martian+Mono:wght@100;200;300;400;500;600;700;800&family=Nabla&family=Onest:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@400;500;600;700;800;900&display=swap");

/* font-family: 'Croissant One', cursive;
font-family: 'Dela Gothic One', cursive;
font-family: 'Lora', serif;
font-family: 'Martian Mono', monospace;
font-family: 'Onest', sans-serif;
font-family: 'Work Sans', sans-serif; 
font-family: 'Nabla', cursive;*/

:root {
  --background: #4a55a2;
  --lighter-background: #7895cb;
  --lighter-text: #a0bfe0;
  --text: #c5dff8;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section {
  position: relative;
  width: 275px;
  margin: auto;
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  border-radius: 20px;
  box-shadow: 0px 0px 0px 7px rgb(50, 45, 45);
  background-color: #7895cb;
  transform: scale(0.9);
 
}

section::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 75px;
  right: -5.5%;
  top: 15%;
  background-color: rgb(47, 124, 255);
  z-index: 1;
}

section::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 50px;
  right: -5.5%;
  top: 40%;
  background-color: rgb(255, 102, 47);
  z-index: 1;
}

.container-hidden {
  visibility: hidden;
}

.hidden {
  background-color: rgb(256, 256,256);
}

.dead{
    background-color: rgb(0, 0, 0);
}

.battery-dead {
  position: absolute;
  top: 37.5%;
  right: 32.5%;
}

.battery-hidden, .charger-hidden {
  visibility: hidden;
}

button {
  cursor: pointer;
}

.pop-notification {
  position: absolute;
  top: 7.5%;
  left: 32%;
  color: white;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.25);
  padding: 8px;
  border-radius: 50px;
  font-family: "Onest", sans-serif;
}

.pop-hidden{
    visibility: hidden;
}


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 8px;
  background-color: rgb(0, 0, 0, 0.55);
}

.left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}

.time {
  font-size: 14px;
  color: white;
  font-family: "Onest", sans-serif;
  font-weight: 500;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.battery-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.camera-hole {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: black;
}

.notification {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.notification img {
  width: 15px;
  height: 15px;
}

.calculator {
  display: flex;
  flex-direction: column;
  padding: 8px;
  flex: 1;
}

.calculator button {
  font-size: 18px;

  font-family: "Martian Mono", monospace;
  background-color: inherit;
  border: none;
  outline: none;
  color: var(--text);
}

.calculator button:hover {
  background-color: #c5dff8;
  color: #7895cb;
  box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.1);
}

.calculator button:active {
  background-color: var(--lighter-text);
  box-shadow: 0px 1px 2px rgb(0, 0, 0, 0.3);
}

.display-section {
  height: 200px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  font-family: "Martian Mono", monospace;
  color: var(--text);
  border-bottom: 1px solid var(--lighter-text);
  gap: 16px;
  overflow: hidden;
}

.displayEquation {
  font-size: 36px;
}
.display {
  font-size: 32px;
}

.input {
  display: flex;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.num {
  flex: 1;
  min-width: 33%;
  height: 50px;
}

.sign {
  display: flex;
  flex-direction: column;
  min-width: 33%;
}

.operation {
  flex: 1;
}

.actions {
  display: flex;
}

.actions button {
  flex: 1;
  height: 50px;
}

.navigation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 8px;
}

.navigation span {
  width: 50%;
  height: 2px;
  border-radius: 500px;
  background-color: white;
}

.charger{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.charger img{
  transform: scale(0.9);
}

footer {
  font-family: "Nabla", cursive;
}

.display-result {
  font-size: 44px;
  font-weight: 500;
}
