@import url("https://fonts.googleapis.com/css2?family=Croissant+One&family=Dela+Gothic+One&family=Lora:wght@400;500;600;700&family=Martian+Mono:wght@100;200;300;400;500;600;700;800&family=Onest:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@400;500;600;700;800;900&display=swap");

/* font-family: 'Croissant One', cursive;
font-family: 'Dela Gothic One', cursive;
font-family: 'Lora', serif;
font-family: 'Martian Mono', monospace;
font-family: 'Onest', sans-serif;
font-family: 'Work Sans', sans-serif; */

:root {
  --background: #4a55a2;
  --lighter-background: #7895cb;
  --lighter-text: #a0bfe0;
  --text: #c5dff8;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--background);
}

section {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 8px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}

.time {
  font-size: 16px;
  color: white;
  font-family: "Onest", sans-serif;
  font-weight: 500;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.camera-hole {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: black;
}

.notification img,
.battery-level img {
  width: 20px;
  height: 20px;
}

.right .notification img,
.battery-level img {
  width: 25px;
  height: 25px;
}

.calculator {
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
}

.calculator button {
  font-size: 18px;

  font-family: 'Martian Mono', monospace;
  background-color: inherit;
  border: none;
  outline: none;
  color: var(--text);
}



.display-section {
  height: 150px;
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  font-family: "Martian Mono", monospace;
  color: var(--text);
  border-bottom: 1px solid var(--lighter-text);
}

.displayEquation {
  font-size: 36px;
}
.display {
  font-size: 32px;
}

.input {
  display: flex;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.num {
  flex: 1;
  min-width: 33%;
  height: 50px;
}

.sign {
  display: flex;
  flex-direction: column;
  min-width: 33%;
}

.operation {
  flex: 1;
}

.actions {
  display: flex;
}

.actions button {
  flex: 1;
  height: 50px;
}
